*{
    margin: 0;
    padding: 0;
}

body{
    margin :0;
    padding:0;
    font-family : sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('disp.jpg');
    background-size:cover  ;
}

.box
{
    width : 300px;
    height:250px;
    padding :40px;
    position :absolute;
    top:50%;
    left:50%;
    background-color: transparent;
    transform :translate(-50%,-50%);
    text-align: center;
}
.box h1{
    color :white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type="text"], .box input[type = "password"]
{
    border :0;
    background: none;
    display :block;
    margin :20px auto;
    text-align: center ;
    border :2px solid white;
    padding :14px 10px;
    width :200px;
    outline :none;
    color :black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type= "text"]:hover,.box input[type= "password"]:hover
{
    background :white;
}

.box input[type="text"]:focus , .box input[type = "password"]:focus
{
    width :280px;
    border-color:white;
}

.box input[type = "submit"]
{
    border :0;
    background: none;
    display :block;
    margin :20px auto;
    text-align: center ;
    border :2px solid white;
    padding :14px 40px;
    outline :none;
    color : black;
    border-radius: 24px;
    transition: 0.25s;
    cursor :pointer;
}
.box input[type = "submit"]:hover
{
    background : white;
}

.box input[type="submit"]:focus
{
    width :150px;
    border-color:white;
}